.flush{
   
    height:90vh
} 

.favItems {
    padding-left: 30px;
    font-size: 16px;
}


/* .channel {
    background-color:lightskyblue !important;
    color: white;
    border-width: 5px;
    border-color: slategray;
    width: 100%; */
    /* color: white; */
/* } */

/* ul {
    list-style-type: none;
  } */