/* Card {
    height: 100% !important;
    position: fixed;
   
} */

/* .list {
    background-color:lightskyblue !important;
    width: 100%;
color: white;
border-width: 5px;
    border-color: slategray;
    
} */

.flush {
    height:90vh
    /* min-height: 400px; */
}

.memItems {
    font-size: 17px;
    /* color: blue; */
}
