.topbar {
    background-color: lightskyblue;
   border-bottom-width: 2px !important;
    border-color: blue !important;
}



.link-button {
    background-color: #ddd;
    border: none;
    color:rgba(37, 37, 37, 0.856);
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bolder;
}

  .form {
    border-radius: 16px;

  }

  .line {
    color:blue;
  }

  .links {

    color:rgba(37, 37, 37, 0.856);
    font-size: 18px;
    text-decoration: none !important;
    font-weight: bolder;
  }

  .links:hover {
    color:whitesmoke;
  }

  em {
    font-size: 24px;
  }

  #demo {
    font-size: 20px;
    color:rgba(37, 37, 37, 0.856)
  }

  .imager {
    /* animation-name: image; */
    -webkit-animation: imager 0.9s ease-out both;
    animation: imager 0.9s ease-out both;
  }
 
/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes imager {
        0% {
          -webkit-transform: translateX(-800px) rotate(-540deg);
                  transform: translateX(-800px) rotate(-540deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          opacity: 1;
        }
      }
      @keyframes imager {
        0% {
          -webkit-transform: translateX(-800px) rotate(-540deg);
                  transform: translateX(-800px) rotate(-540deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) rotate(0deg);
                  transform: translateX(0) rotate(0deg);
          opacity: 1;
        }
      }
      

.fontAwesome {
	font-family: 'Helvetica', FontAwesome, sans-serif;

  }
