.topbar {
    background-color: lightskyblue;
   border-bottom-width: 2px !important;
    border-color: blue !important;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }


  .form {
    border-radius: 16px;

  }

  .line {
    color: blue;
  }

  #demo {
    font-size: 20px;
    color:rgba(37, 37, 37, 0.856)
  }