/* .mt-5 {
    margin-top: 100px !important;
    min-height: 100%;
 
  } */

p {
  font-size: 16px;;
}

.response1 {
  color:green;
}

.response {
  color: indigo;
}

.chat {
  /* min-height: 750px; 
  max-height: 750px; */
  min-height: 80vh;
  max-height: 80vh;    
 
  /* height:90vh */
}

.scroll {
   overflow-y: auto;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(248, 248, 248);
  /* box-shadow: inset 0 0 5px orangered;  */
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:lightskyblue; 
}  


.speech-bubble {
	position: relative;
	background: whitesmoke;
  border-radius: .4em;
  margin-right: 5px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: whitesmoke;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}